<%- include ('../partials/header')%>

<%- include ('../partials/navbar')%>

<div class="col-9 grid-margin stretch-card container">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Create a new blog</h4>
        <form method="post" action="/blogs" class="forms-sample">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="blog[title]" class="form-control" id="title" placeholder="enter blog title">
          </div>
          <div class="form-group">
            <label for="summary">Story summary</label>
            <input type="text" name="blog[summary]" class="form-control" placeholder="enter captivating story headline ">
          </div>
          <div class="form-group">
            <label>select category of post</label>
            <select name="blog[postCategory]" class="form-control">
              <option>Select category</option>
              <option value="politics">Politics</option>
              <option value="fashion">Fashion</option>
              <option value="tech">Tech</option>
              <option value="sports">Sports</option>
            </select>
          </div>
          <div class="form-group">
            <label>File upload</label>
            <input type="file" name="blog[image]" class="file-upload-default">
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" name="blog[city]" class="form-control" id="city" placeholder="Location">
          </div>
          <div class="form-group">
            <label for="body">Textarea</label>
            <textarea name="blog[body]" class="form-control" id="body" rows="4"></textarea>
          </div>
          <button type="submit" class="btn btn-success ">Submit</button>
          <button class="btn btn-danger">Cancel</button>
        </form>
      </div>
    </div>
  </div>

<%- include ('../partials/footer')%>