<div class="col-md-2">
    <p class="lead">Sidebar</p>
    <ul>
        <a href="/admin/blogs"><li class="list-group-item">admin</li></a>
        <a href="#"><li class="list-group-item active">user</li></a>
        <a href="#"><li class="list-group-item">blogs</li></a>
    </ul>
</div>    